<%- include('part/header.ejs') %> 

<body>
    <%- include('part/menu.ejs') %> 
    <h1>
      Choisir le campus que vous voulez consulter l'horaire
    </h1>
    <a href="/mutanga">
      <h2>MUTANGA</h2>
    </a><br>
    <a href="/kinindo">
      <h2>
        Kinindo 
      </h2>
    </a>
    </table>
  </body>
</html>
