<!DOCTYPE html>
<html>
  <head>
    <title>bienvenu sur horaire ULBU</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <h1>
      Choisir le campus que vous voulez consulter l'horaire
    </h1>
    <a href="/mutanga">
      <h2>MUTANGA</h2>
    </a><br>
    <a href="">
      <h2>
        Kinindo (pas encore développer)
      </h2>
    </a>
    </table>
  </body>
</html>
